html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1280px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px qpx rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader-panel {
  height: 200px;
}

.el-steps--horizontal {
  margin-top: 10px;
}

.el-checkbox.is-bordered.el-checkbox--medium {
  padding: 7px 10px 7px 10px;
  border-radius: 4px;
  height: 36px;
  margin: 10px 0px 0px 10px !important;
  margin-top: 10px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
}

.ql-editor {
  min-height: 228px;
}
